* {
  box-sizing: border-box;
}

body:not(footer) {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 112.5%;
  line-height: 1.5;
  background-color: rgba(0, 138, 138, 30%);
  color: rgba(0, 0, 0, 80%);
  margin: 1.5rem auto 2rem;
  padding: 2rem;
}

h1, h2, h3 {
  font-weight: 700;
  margin-top: 1rem;
  text-align: center;
}

#line {
  height: 1px;
  width: 50%;
  min-width: 200px;
  max-width: 400px;
  margin: -1rem auto 1.5rem;
  background-color: rgba(0, 0, 0, 60%);
}

#job {
  font-size: 1.5rem;
  font-weight: 400;
  margin-top: -1rem;
}

figure {
  margin: auto;
  padding: 1rem;
  max-width: 700px;
  min-width: 200px;
}

section {
  border-bottom: 1px solid rgba(0, 0, 0, 20%);
  max-width: 800px;
  margin: 1rem auto;
}

#biography {
  padding-bottom: 2rem;
}

ul {
  margin-right: 0.5rem;
  margin-left: -2rem;
}

li {
  list-style: none;
  margin-bottom: 1rem;
  margin: 0 0.5rem 1rem 0.5rem;
}

p {
  font-family: 'Times New Roman', Times, serif;
  font-size: 1.2rem;
  margin-right: 0.5rem;
  margin-left: 0.5rem;
}

#interests {
  padding-bottom: 0.5rem;
}

#tech-stack {
  text-align: center;
  padding-bottom: 2rem;
}

.inline-flex {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  list-style: inside;
  white-space: nowrap;
}

.bold {
  font-weight: 600;
}

.thin {
  height: 1px;
}

/* Navigation */

nav {
  font-size: 1rem;
  margin-left: -2rem;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 80%);
  position: fixed;
  bottom: 0;
  width: 100%;
  height: auto;
}

nav ul {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}



nav > ul > li {
  margin-top: 0.6rem;
  margin-bottom: 0.6rem;
}



.button {
  background-color: rgb(87, 57, 57);
  color: lightsalmon;
  margin-top: 1rem;
  padding: 6px 10px;
  border-radius: 7px;
  border: 1px solid rgb(95, 95, 95);
}

.button:hover {
  border: 1px solid lightcyan
}

/* Figure */

figure {
  text-align: center;
  margin: 0 auto;
  padding-bottom: 3rem;
  border-bottom: 1px solid rgba(0, 0, 0, 7%);
}

figure > img {
  border-radius: 0 7vw;
  width: 100%;
  height: auto;
}

/* Link Logos */

.logo {
  margin: 10px;
  display: inline-block;
}

#kotlin-logo {
  margin-left: 15px;
}

/* Footer */

footer {
  margin: 1rem 0 3rem 0;
  text-align: center;
}

footer > a {
  text-decoration: none;
  color: grey;
}