* {
  box-sizing: border-box;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 112.5%;
  line-height: 1.5;
  background-color: rgba(255, 235, 205, 50%);
  color: rgba(0, 0, 0, 80%);
  margin: 2rem;
}

h1 {
  text-align: center;
}

nav {
  text-align: center;
}

nav a {
  background-color: #0000005d;
  color: rgba(255, 235, 205, 50%);
  margin: 0 10px;
  padding: 5px 10px;
  border-radius: 3px;
}

nav a:hover {
  background-color: rgba(255, 235, 205, 50%);
  color:  #0000005d;
}

figure {
  text-align: center;
  margin: 0 auto;
  padding-bottom: 1rem;
  border-bottom: 1px solid rgba(0, 0, 0, 10%);
}

figure > img {
  border-radius: 0 108px;
}

h1, h2, h3 {
  margin-top: 1rem;
  text-align: center;
}

section:not(#biography) {
  border-bottom: 1px solid rgba(0, 0, 0, 20%);
}


#tech-stack {
  border-top: 1px solid rgba(0, 0, 0, 10%);
  text-align: center;
}

.connect {
  margin-top: 10px;
  padding-top: 2rem;
}

.bold {
  font-weight: 700;
}

.logo {
  margin: 10px;
}

.thin {
  height: 1px;
}

#kotlin {
  margin-left: 25px;
}