* {
  box-sizing: border-box;
}

body:not(footer) {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 112.5%;
  line-height: 1.5;
  background-color: rgba(255, 235, 205, 50%);
  color: rgba(0, 0, 0, 80%);
  max-width: 1000px;
  margin: 2rem auto;
  padding: 3rem;
}

h1, h2, h3 {
  margin-top: 1rem;
  text-align: center;
  text-transform: uppercase;
  font-family: Arial, Helvetica, sans-serif;
}

section:not(#biography) {
  border-bottom: 1px solid rgba(0, 0, 0, 20%);
}

ul {
  margin-right: 0.5rem;
  margin-left: -2rem;
}

li {
  list-style: none;
  margin-bottom: 1rem;
  margin: 0 0.5rem 1rem 0.5rem;
}

p {
  font-family: 'Times New Roman', Times, serif;
  font-size: 1.2rem;
  margin-right: 0.5rem;
  margin-left: 0.5rem;
}

#tech-stack {
  border-top: 1px solid rgba(0, 0, 0, 7%);
  border-bottom: 1px solid rgba(0, 0, 0, 20%);
  text-align: center;
}

.inline-flex {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  list-style: inside;
  white-space: nowrap;
}

.bold {
  font-weight: 700;
}

.thin {
  height: 1px;
}

/* Navigation */

.main-navigation {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.button {
  background-color: #0000009c;
  color: rgba(255, 235, 205, 80%);
  padding: 5px 10px;
  margin-bottom: 2rem;
  border-radius: 3px;
  border: 1px solid rgba(255, 235, 205, 50%);

}

.button:hover {
  background-color: rgba(255, 235, 205, 50%);
  color:  #0000009c;
  border: 1px solid #0000009c;
}

/* Figure */

figure {
  text-align: center;
  margin: 0 auto;
  padding-bottom: 1rem;
  border-bottom: 1px solid rgba(0, 0, 0, 7%);
}

figure > img {
  border-radius: 0 7vw;
  width: 100%;
  height: auto;
}

/* Link Logos */

.logo {
  margin: 10px;
  display: inline-block;
}

#kotlin-logo {
  margin-left: 15px;
}

/* Footer */

footer {
  margin-top: 2rem;
  text-align: center;
}

footer > a {
  text-decoration: none;
  color: grey;
}