.utility__bold {
  font-weight: 700;
}

.utility__nowrapping {
  white-space: nowrap;
}

.utility__list--simple[role="list"] {
  list-style: none;
  padding: 0;
}

.utility__container--wrap {
  display: flex;
  flex-wrap: wrap;
}
