.main-nav {
  font-size: 1rem;
  margin-left: -2rem;
  overflow: hidden;
  background-color: var(--color-dark);
  display: block;
  position: absolute;
  top: 0;
  width: 100%;
  height: auto;
}

.main-nav__list {
  display: flex;
  justify-content: space-evenly;
}

.main-nav__item {
  display: flex;
}

/* mobile menu */

@media (max-width: 468px) {
  .main-nav__desktop {
    display: none;
  }
}

.main-nav__menu--mobile {
  color: var(--color-orange);
  margin: 0.5rem;
  padding: 6px 10px;
  border-radius: 3px;
  font-weight: bolder;
}

/* mobile-menu style */

.main-nav__link--mobile {
  background: none;
  color: var(--color-orange);
  margin: 0.5rem 1.5rem;
  padding: 6px 10px;
  border-radius: 3px;
  font-weight: bolder;
}
