/* okay */

.nav-bar {
  font-size: 1rem;
  margin-left: -2rem;
  overflow: hidden;
  background-color: var(--color-dark);
  display: block;
  position: absolute;
  top: 0;
  width: 100%;
  height: auto;
}

.nav-bar__list-container {
  display: flex;
  justify-content: space-evenly;
}

.nav-bar__item {
  display: flex;
}

/* mobile menu */

@media (max-width: 468px) {
  .nav-bar__desktop {
    display: none;
  }
}

.nav-bar__menu-mobile {
  color: var(--color-orange);
  margin: 0.5rem;
  padding: 6px 10px;
  border-radius: 3px;
  font-weight: bolder;
}

/* btn style */

.nav-bar__btn {
  background: none;
  color: var(--color-orange);
  text-decoration: none;
  margin-top: 1rem;
  padding: 6px 10px;
  border-radius: 3px;
  border: 1px solid;
  font-weight: bold;
  transition: all 0.25s;
}

.nav-bar__btn:hover {
  border-color: var(--color-yellow);
  color: var(--color-whitish);
  box-shadow: 0 0.5rem 0.5rem -0.4rem var(--color-yellow);
  transform: translateY(-0.25rem);
}

.nav-bar__btn-mobile {
  background: none;
  color: var(--color-orange);
  margin: 0.5rem 1.5rem;
  padding: 6px 10px;
  border-radius: 3px;
  font-weight: bolder;
}
