.main-nav {
  font-size: 1rem;
  margin-left: -2rem;
  overflow: hidden;
  background-color: var(--color-dark);
  display: block;
  position: absolute;
  top: 0;
  width: 100%;
  height: auto;
  min-height: 4.5rem;
  animation: slideIn 0.5s;
}

@keyframes slideIn {
  from {
    transform: translateY(-100px);
    opacity: 0.1;
  }

  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@media (min-width: 468px) {
  details,
  summary {
    display: none;
  }
}

/* mobile */

@media (max-width: 468px) {
  .main-nav--desktop {
    display: none;
  }

  details > summary,
  ul {
    display: block;
  }

  .main-nav--mobile-menu {
    margin-bottom: -20px;
  }
}

.main-nav--mobile {
  color: var(--color-orange);
  margin: 0.5rem;
  padding: 6px 10px;
  height: 48px;
  border-radius: 3px;
  font-weight: bolder;
  text-align: end;
  animation: bounceIn 1.5s;
}

.main-nav__link--mobile {
  /* background: none; */
  color: var(--color-orange);
  margin: 0.5rem 1.5rem;
  padding: 6px 10px;
  border-radius: 3px;
  font-weight: bolder;
}
