.main-nav {
  font-size: 1rem;
  margin-left: -2rem;
  overflow: hidden;
  background-color: var(--color-dark);
  display: block;
  position: absolute;
  top: 0;
  width: 100%;
  height: auto;
}

/* mobile */

@media (max-width: 468px) {
  .main-nav--desktop {
    display: none;
  }

  details > summary,
  ul {
    display: block;
  }

  .list {
    margin-bottom: -15px;
    border: 1px solid var(--color-orange);
  }
}

.main-nav--mobile {
  color: var(--color-orange);
  margin: 0.5rem;
  padding: 6px 10px;
  height: 48px;
  border-radius: 3px;
  font-weight: bolder;
  text-align: center;
}

.main-nav__link--mobile {
  background: none;
  color: var(--color-orange);
  margin: 0.5rem 1.5rem;
  padding: 6px 10px;
  border-radius: 3px;
  font-weight: bolder;
}
