.bd {
  font-weight: 700;
}

.hovering:hover {
  opacity: 0.5;
  transition: opacity 0.25s;
}

.list--simple[role="list"] {
  list-style: none;
  padding: 0;
}

.nowrapping {
  white-space: nowrap;
}

/* flexbox */

.flex {
  display: flex;
}

.flex-wrap {
  flex-wrap: wrap;
}

/* gap */

.gap-vw {
  gap: 3vw;
}

.gap-rem {
  gap: 1.5rem;
}

/* justify-content */

.justify-around {
  justify-content: space-around;
}

.justify-between {
  justify-content: space-between;
}

.justify-center {
  justify-content: center;
}

.justify-evenly {
  justify-content: space-evenly;
}

/* margin */

.mb-1 {
  margin-bottom: 1rem;
}
